# docker-compose config for locally-running dev geekmarks

version: '2'
services:
  postgres:
    container_name: geekmarks-dev-postgres
    image: library/postgres:9.6
    volumes:
      - "/var/tmp/geekmarks_dev/postgresql:/var/lib/postgresql/data"
    #ports:
      #- "5432:5432"
    environment:
      POSTGRES_USER: geekmarks
      POSTGRES_PASSWORD: geekmarks
      POSTGRES_DB: geekmarks

  geekmarks:
    container_name: geekmarks-dev-main
    image: dimonomid/geekmarks-server
    depends_on:
      - postgres
    links:
      - postgres
    ports:
      - "4000:4000"
    volumes:
      - "/var/tmp/geekmarks_dev/main:/data"
    command: >
      --logtostderr --v=2
      --geekmarks.postgres.url=postgres://geekmarks:geekmarks@postgres:5432/geekmarks?sslmode=disable
    restart: never
