
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo-large {
  text-align: center;
  font-family: Monospace;
  font-size: 11pt;
  line-height: 11pt;
  color: gray;
  padding-top: 50pt;
}

.subtitle {
  text-align: center;
  font-family: Monospace;
  font-size: 21pt;
}

.spacer-menu {
  padding-top: 50pt;
}

.main-links-list {
  text-align: center;
}

.main-links-list a.nav {
  font-family: Monospace;
  font-size: 15pt;
  color: darkgreen;
  text-decoration: none;
}

.main-links-list a.nav:hover {
  text-decoration: underline;
}

img.center {
  display: block;
  margin: 0 auto;
}

.content {
  max-width: 50rem;
  margin: 2rem auto 4rem;
  font-size: 1.1rem;
}

.content h3 {
  font-size: 2rem;
  font-weight: 200;
}

div.header {
  background-color: #eee;
  width: 100%;
  border-bottom: 2pt solid gray;
}

.hidden {
  display: none;
}

.msg-wrap {
  text-align: left;
}

.msg {
  background-color: lightgreen;
  border: 1px solid green;
  border-radius: 4pt;
  width: 600pt;
  margin: 0 auto;
  padding: 10pt;
}
