.body a {
  font-family: Monospace;
}

.tags-input {
  font-family: Monospace;
  width: 100%;
  border: 1px solid lightgray;
}

.bookmarks-list {
  padding: 0;
  margin: 0;
}

.bookmark-div {
  border-bottom: 1px solid lightgray;
  padding: 0.5em;
  margin: 0;
}

.bookmark-div p {
  margin: 0;
}

.text-input {
  font-family: Monospace;
  font-size: 12px;
  width: 100%;
  border: 1px solid lightgray;
  padding: 3px;
}

.text-textarea {
  font-family: Monospace;
  font-size: 12px;
  width: 100%;
  height: 7em;
  border: 1px solid lightgray;
  padding: 3px;
}

/*
 * Tag-new is a style for the non-existing tags, they override tag colors
 * TODO: probably make it without !important, but it would require changing
 * vendored css (not a big deal)
 */

.tag-new .tag-editor-tag {
  background: #ffaa77 !important;
  color: red !important;
}

.tag-new .tag-editor-delete {
  background: #ffaa77 !important;
  color: red !important;
}

.hidden {
  display: none;
}

.logo-small {
  font-family: Monospace;
  font-size: 5px;
  line-height: 5px;
  color: gray;
  padding-bottom: 10px;
}

.logo-large {
  text-align: center;
  font-family: Monospace;
  font-size: 10px;
  line-height: 10px;
  color: gray;
  padding-bottom: 30px;
}

a {
  font-family: Monospace;
  font-size: 12px;
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.blue {
  color: blue;
  text-decoration: none;
}

a.blue:hover {
  text-decoration: underline;
}

a.delete {
  color: red;
  text-decoration: none;
}

a.delete:hover {
  text-decoration: underline;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-centered {
  text-align: center;
}

.popup-menuitem {
  padding: 1px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.highlighted-row {
  background-color: lightgray;
}

.tag {
  font-family: Monospace;
}
