.tags-input {
  font-family: Monospace;
  width: 100%;
  border: 1px solid lightgray;
}

.bookmarks-list {
  padding: 0;
  margin: 0;
}

.bookmark-div {
  border-bottom: 1px solid lightgray;
  padding: 0.5em;
  margin: 0;
}

.bookmark-div p {
  margin: 0;
}

.text-input {
  font-family: Monospace;
  font-size: 12px;
  width: 100%;
  border: 1px solid lightgray;
  padding: 3px;
}

.text-textarea {
  font-family: Monospace;
  font-size: 12px;
  width: 100%;
  height: 7em;
  border: 1px solid lightgray;
  padding: 3px;
}

/*
 * Tag-new is a style for the non-existing tags, they override tag colors
 * TODO: probably make it without !important, but it would require changing
 * vendored css (not a big deal)
 */

.tag-new .tag-editor-tag {
  background: #ffaa77 !important;
  color: red !important;
}

.tag-new .tag-editor-delete {
  background: #ffaa77 !important;
  color: red !important;
}

.hidden {
  display: none;
}
