.tags-input {
  font-family: Monospace;
  width: 100%;
  border: 1px solid lightgray;
}

.bookmarks-list {
  padding: 0;
  margin: 0;
}

.bookmark-div {
  border-bottom: 1px solid lightgray;
  padding: 0.5em;
  margin: 0;
}

.bookmark-div p {
  margin: 0;
}

.text-input {
  font-family: Monospace;
  font-size: 12px;
  width: 100%;
  border: 1px solid lightgray;
  padding: 3px;
}

.text-textarea {
  font-family: Monospace;
  font-size: 12px;
  width: 100%;
  height: 7em;
  border: 1px solid lightgray;
  padding: 3px;
}

